<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to Xenox - Explore cutting-edge tech insights.">
    <title>Welcome to Xenox</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/button.css">
</head>

<body>
    <h1 class="title">Welcome to Xenox!!</h1>

    <h2>Sobre o nosso site</h2>
    <p>
        Desenvolvemos um site para explorar insights tecnológicos de ponta,
        tivemos que aprender e entender muita coisa sobre python em SQL mas conseguimos.
        Também tivemos que aprender a usar o Flask, um framework web em python,
         que realmente foi um desafio enorme para nós mas com isso tivemos um grande upgrade nas nossas skills e visão de programação.
         Queria agradecer a equipa da CloudFlare por nos ajudar. 
         Um grande obrigado a todos ao Nuno, o Daniel, o Tiago, a Sofia, ao Carlos e ao resto do pessoal que nos ajudou a desenvolver este site.
    </p>

    <a href="/usuarios/registar">
        <button type="button">Registar</button>
    </a>
</body>
</html>
