<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login
    </title>
</head>
<body>
    <link rel="stylesheet" href="/static/styles.css">
    <form action="/usuarios/login" method="post">
        <h1 class="title">Login</h1>    
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Login</button>
        <p> Não tem conta?</p> <a href="/usuarios/registar">Registar</a>
    </form>
</body>
</html>